.advantages__wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.advantages__text {
  font-family: "Arial";
  color: @grey;
}
