.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin: 0;
  border: none;
  padding: 10px 30px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  cursor: pointer;
}
