.additional-goods__gift {
  height: 289px;
  text-align: center;
  background-image: url("../images/gift-photo-mobile.png");
  background-position: center 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    height: 200px;
    background-image: url("../images/gift-photo-tablet.png");
  }
}

.gift__text {
  position: relative;
  top: 186px;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    top: 71px;
  }
}
