.interactive-example {
  background-color: @grey-200;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    background-image: linear-gradient(to top, @grey-200 462px, transparent 462px 100%);
  }
}

.interactive-example__wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.interactive-example__title {
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
  }
}

.interactive-example__description {
  font-family: "Arial";
  color: @grey;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
  }
}

.interactive-example__result-list {
  display: grid;

  @media (max-width: @mobile-width-only) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 64px 20px;
    row-gap: 26px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 162px 162px 1fr;
    column-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-template-columns: 162px 162px;
    row-gap: 55px;
  }
}

@media (max-width: @mobile-width-only) {
  .result-list__item:nth-child(2) {
    justify-self: end;
  }
}

.result-list__item:last-child {
  @media (max-width: @mobile-width-only), (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
  }

  @media (min-width: @tablet-width) {
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
  }
}

.result-list__term {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result-list__description {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: @grey;
}

.result-list__term--last,
.result-list__description--last {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 20px;
  color: @basic-black;
}
