.interactive-example {
  background-color: @grey-200;
}

.interactive-example__wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.interactive-example__title {
  font-size: 36px;
  line-height: 40px;
}

.interactive-example__description {
  font-family: "Arial";
  color: @grey;
}

.result-list__term {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result-list__description {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: @grey;
}

.result-list__term--last,
.result-list__description--last {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 20px;
  color: @basic-black;
}
