.main-nav__toggle {
  width: 18px;
  height: 18px;
  border: none;
  padding: 0;
  background-image: url("../images/icons/cross.svg");
  background-color: transparent;
  background-position: center center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__link {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: @basic-black;
  text-transform: uppercase;
}
