.map__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.map__address {
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: @grey;
}
