.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 53px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-header__logo-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
  }
}

.page-header__logo {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: start;
  line-height: 0;
}

.page-header__text-logo {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
  line-height: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo[href]:hover svg,
.page-header__text-logo[href]:hover svg {
  fill-opacity: 80%;
}

.page-header__logo[href]:active svg,
.page-header__text-logo[href]:active svg {
  fill-opacity: 60%;
}
