.page-footer__wrapper {
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (max-width: @mobile-width-only) {
  .page-footer__text-logo-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 39px;
    padding-bottom: 31px;
    border-bottom: 1px solid @footer-border-color;
  }
}

.page-footer__text-logo {
  display: inline-block;
  line-height: 0;
}

.page-footer__text-logo[href]:hover {
  opacity: 80%;
}

.page-footer__text-logo[href]:active {
  opacity: 60%;
}

.page-footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  font-style: normal;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    height: 64px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid @footer-border-color;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.social-links__item:not(:last-child) {
  margin-right: 36px;

  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

@media (min-width: @tablet-width) {
  .social-links__item {
    display: flex;
    align-items: center;
  }

  .social-links__link--vk svg {
    width: 30px;
    height: 32px;
  }

  .social-links__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social-links__link--facebook svg {
    width: 28px;
    height: 33px;
  }
}

.social-links__link svg {
  fill: @social-links-fill;
}

.social-links__link:hover svg {
  fill: @basic-green;
}

.social-links__link:active svg {
  fill: @basic-green;
  fill-opacity: 30%;
}

.copyright-links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: @mobile-width-only) {
    justify-content: space-between;
    height: 78px;
  }
}

.copyright-links__item {
  line-height: 0;
}

@media (min-width: @tablet-width) {
  .copyright-links__item:first-child {
    margin-right: 22px;
  }
}

.copyright-links__link--text {
  font-family: "Arial";
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: @grey;
}

.copyright-links__link--text:active {
  opacity: 30%;
}

.copyright-links__link--logo {
  display: inline-block;
  line-height: 0;
}

.copyright-links__link--logo svg {
  fill: @social-links-fill;
}

.copyright-links__link--logo:hover svg {
  fill: @basic-green;
}

.copyright-links__link--logo:active svg {
  fill-opacity: 30%;
}
