.program-selection-form__wrapper {
  display: grid;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.program-selection-form__fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.program-selection-form__fieldset sup {
  line-height: 0;
}

.program-selection-form__fieldset--cats-data {
  padding-bottom: 24px;

  @media (max-width: @mobile-width-only) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
  }
}

.program-selection-form__fieldset--cats-data::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -1px;
    width: 100vw;
    height: 1px;
    background-color: @footer-border-color;
  }
}

.program-selection-form__fieldset-legend {
  padding: 0;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program-selection-form__field-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program-selection-form__field-list--cats-data {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (min-width: @tablet-width) {
    width: 630px;
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.field-list__item {
  display: flex;
  align-items: center;
}

.program-selection-form__label {
  position: relative;
  font-size: 16px;
  color: @grey;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field-list__item--cats-name .program-selection-form__label {
  margin-right: 13px;

  @media (min-width: @tablet-width) {
    margin-right: 17px;
  }
}

.field-list__item--cats-weight .program-selection-form__label {
  margin-right: 16px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.field-list__item--cats-age .program-selection-form__label {
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 17px;
  }
}

.program-selection-form__input {
  flex-grow: 1;
  height: 45px;
  border: 1px solid @cats-data-input-field-border-color;
  padding: 14px;

  @media (min-width: @tablet-width) {
    height: 52px;
    padding: 10px;
  }
}

.program-selection-form__input:hover,
.program-selection-form__input + .program-selection-form__label:hover {
  border-color: @catalog-page-additional-goods-divider-line-color;
}

.program-selection-form__input:invalid:placeholder-shown {
  outline: none;
}

.program-selection-form__input:focus,
.program-selection-form__input:focus:placeholder-shown {
  outline: 2px solid @grey;
  outline-offset: -2px;
}

.program-selection-form__input:invalid {
  outline: 2px solid @input-invalid-outline-color;
  outline-offset: -2px;
}

.program-selection-form__input,
.program-selection-form__input::placeholder {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  color: @grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection-form__input::placeholder {
  text-transform: uppercase;
}

.program-selection-form__fieldset--program-type {
  padding-top: 22px;
  padding-bottom: 19px;

  @media (max-width: @mobile-width-only) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    height: 196px;
    border: 1px solid @cats-data-input-field-border-color;
    padding-top: 25px;
    padding-left: 28px;
  }
}

.program-selection-form__fieldset--program-type::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -1px;
    width: 100vw;
    height: 1px;
    background-color: @footer-border-color;
  }
}

.program-selection-form__field-list--program-type {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media (min-width: @tablet-width) {
    row-gap: 13px;
  }
}

.field-list__item--radio {
  height: 30px;
  padding-left: 48px;

  @media (min-width: @tablet-width) {
    height: 40px;
    padding-left: 60px;
  }
}

.program-selection-form__field-list--program-type .program-selection-form__label {
  color: @grey-400;
}

.field-list__input-radio + .program-selection-form__label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -48px;
  width: 30px;
  height: 30px;
  border: 1px solid @catalog-page-additional-goods-divider-line-color;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: -5px;
    left: -60px;
    width: 40px;
    height: 40px;
  }
}

.field-list__input-radio:not(:disabled) + .program-selection-form__label:hover::before {
  border-color: @input-radio-hover;
}

.field-list__input-radio:checked + .program-selection-form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: -49px;
    width: 18px;
    height: 18px;
  }
}

.field-list__input-radio:disabled + .program-selection-form__label {
  opacity: 30%;
}

.program-selection-form__fieldset--contact-details {
  grid-column-start: 1;
  grid-column-end: -1;
}

.program-selection-form__fieldset--contact-details .program-selection-form__fieldset-legend {
  position: relative;
  margin-bottom: 35px;
  padding-top: 26px;
  padding-right: 14px;

  @media (min-width: 400px) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    padding-top: 75px;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
    padding-right: 40px;
  }
}

.program-selection-form__fieldset--contact-details .program-selection-form__fieldset-legend::before,
.program-selection-form__fieldset--contact-details .program-selection-form__fieldset-legend::after {
  position: absolute;
  bottom: 9px;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    bottom: 12px;
  }
}

.program-selection-form__fieldset--contact-details .program-selection-form__fieldset-legend::before {
  @media (min-width: @tablet-width) {
    content: "";
    right: 100%;
    margin-right: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 40px;
  }
}

.program-selection-form__fieldset--contact-details .program-selection-form__fieldset-legend::after {
  content: "";
  left: 100%;

  @media (max-width: 399px) {
    bottom: 34px;
  }

}

.program-selection-form__field-list--contact-details {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (min-width: @tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.field-list__item--cat-owner-email .program-selection-form__label {
  margin-right: 11px;

  @media (min-width: @tablet-width) {
    margin-right: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.field-list__item--cat-owner-email .program-selection-form__input {
  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.field-list__item--cat-owner-phone .program-selection-form__label {
  margin-right: 8px;

  @media (min-width: @tablet-width) {
    margin-right: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 15px;
  }
}

.field-list__item--cat-owner-phone .program-selection-form__input {
  @media (min-width: @desktop-width) {
    width: 472px;
  }
}

.program-selection-form__fieldset--cat-habbits {
  grid-column-start: 1;
  grid-column-end: -1;
}

.program-selection-form__fieldset--cat-habbits .program-selection-form__fieldset-legend {
  position: relative;
  margin-bottom: 38px;
  padding-top: 24px;
  padding-right: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    padding-top: 75px;
    padding-right: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
    padding-top: 67px;
    padding-right: 40px;
  }
}

.program-selection-form__fieldset--cat-habbits .program-selection-form__fieldset-legend::before,
.program-selection-form__fieldset--cat-habbits .program-selection-form__fieldset-legend::after {
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    bottom: 12px;
  }
}

.program-selection-form__fieldset--cat-habbits .program-selection-form__fieldset-legend::before {
  @media (min-width: @tablet-width) {
    content: "";
    right: 100%;
    margin-right: 39px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 40px;
  }
}

.program-selection-form__fieldset--cat-habbits .program-selection-form__fieldset-legend::after {
  content: "";
  bottom: 9px;
  left: 100%;
}

.program-selection-form__textarea,
.program-selection-form__textarea::placeholder {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  color: @grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection-form__textarea::placeholder {
  text-transform: uppercase;
}

.program-selection-form__textarea {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  border: 1px solid @cats-data-input-field-border-color;
  padding: 10px 14px;
  resize: none;

  @media (min-width: @tablet-width) {
    height: 174px;
    padding: 10px 19px;
  }
}

.program-selection-form__textarea:hover {
  border-color: @catalog-page-additional-goods-divider-line-color;
}

.program-selection-form__textarea:focus {
  outline: 2px solid @grey;
  outline-offset: -2px;
}

.program-selection-form__fieldset--additional {
  grid-column-start: 1;
  grid-column-end: -1;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 61px;
  }
}

.program-selection-form__fieldset--additional .program-selection-form__fieldset-legend {
  position: relative;
  margin-bottom: 34px;
  padding-top: 23px;
  padding-right: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    padding-top: 65px;
    padding-right: 41px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 67px;
    padding-right: 41px;
  }
}

.program-selection-form__fieldset--additional .program-selection-form__fieldset-legend::before,
.program-selection-form__fieldset--additional .program-selection-form__fieldset-legend::after {
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    bottom: 12px;
  }
}

.program-selection-form__fieldset--additional .program-selection-form__fieldset-legend::before {
  @media (min-width: @tablet-width) {
    content: "";
    right: 100%;
    margin-right: 39px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 40px;
  }
}

.program-selection-form__fieldset--additional .program-selection-form__fieldset-legend::after {
  content: "";
  bottom: 9px;
  left: 100%;
}

.program-selection-form__field-list--additional {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    column-gap: 123px;
    row-gap: 32px;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    column-gap: 104px;
  }
}

.field-list__item--checkbox {
  height: 30px;
  padding-left: 46px;

  @media (min-width: @tablet-width) {
    width: 221px;
    height: 40px;
    padding-left: 59px;
  }
}

.program-selection-form__fieldset--additional .program-selection-form__label {
  color: @basic-black;
}

.field-list__input-checkbox + .program-selection-form__label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid @catalog-page-additional-goods-divider-line-color;

  @media (min-width: @tablet-width) {
    top: -5px;
    left: -59px;
    width: 40px;
    height: 40px;
  }
}

.field-list__input-checkbox:not(:disabled) + .program-selection-form__label:hover::before {
  border-color: @input-radio-hover;
}

.field-list__input-checkbox:checked + .program-selection-form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 18px;
  height: 14px;
  background-image: url("../images/icons/checkbox-active.svg");

  @media (min-width: @tablet-width) {
    top: 8px;
    left: -48px;
  }
}

.field-list__input-checkbox:disabled + .program-selection-form__label {
  opacity: 30%;
}

.program-selection-form__bottom-wrapper {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.program-selection-form__submit-button {
  width: 100%;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.program-selection-form__form-legend {
  flex-grow: 2;
  margin-top: 21px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  font-family: "Arial";
  font-size: 14px;
  line-height: 16px;

  sup {
    line-height: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin: 0;
  }
}
