.show-all-card__text:first-of-type {
  font-size: 16px;
  line-height: 20px;
  color: @black-100;
  text-transform: uppercase;
}

.show-all-card__text:last-of-type {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: @grey;
}

.show-all-card__button {
  color: @grey;
  background-color: @grey-100;
}
