.show-all-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 53px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    height: 430px;
    align-self: end;
    justify-content: flex-end;
    border: 2px solid @grey-100;
    padding: 52px 38px 38px 38px;
    text-align: center;
  }
}

.show-all-card::before,
.show-all-card::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 30px;
  height: 2px;
  background-color: @grey-300;

  @media (min-width: @tablet-width) {
    top: 81px;
    width: 60px;
  }
}

.show-all-card::after {
  transform: rotate(90deg);
}

.show-all-card__text {
  margin: 0;
}

.show-all-card__text:first-of-type {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: @black-100;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-all-card__text:last-of-type {
  margin-bottom: 21px;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: @grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-all-card__button {
  width: 100%;
  color: @grey;
  background-color: @grey-100;
}

.show-all-card__button:hover {
  background-color: @catalog-page-divider-line-color;
}

.show-all-card__button:active {
  color: fade(@grey, 30%);
  background-color: @catalog-page-divider-line-color;
}
