@media (min-width: @desktop-width) {
  .slider-cat {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: end;
  }
}

.slider-cat__button--before,
.slider-cat__button--after {
  border: none;
  padding: 0;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
