.slider-cat__button--before,
.slider-cat__button--after {
  border: none;
  padding: 0;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
